# Basics

-   Create a variable `x` that has value 5

In [ ]:
CODE

-   Create a variable `y` that is equal to `12*x`

In [ ]:
CODE

-   Define a character vector `v` that has these strings on it “yes”,
    “no”, “maybe”:

In [ ]:
CODE

-   Define a vector variable `q` that has 4,-3,-2,2,3 on it.

In [ ]:
CODE

Next create a dataframe for this data:

|  name   | major | gpa |  phone   |
|:-------:|:-----:|:---:|:--------:|
| William |  ITM  | 2.4 | 326 2375 |
|  Sandy  |  TDM  | 3.4 | 231 3040 |
|  Joan   |  FBM  | 3.1 | 342 3023 |

-   create a dataframe for this data

In [ ]:
name<-CODE
major<-CODE
gpa<-CODE
phone<-CODE
df <- data.frame(CODE,CODE,CODE,CODE)

-   Print out the structure of your data frame using `str`

In [ ]:
CODE

-   Print out just the phone column using \$ sign: (Replace CODE below
    with the right column name for this.

In [ ]:
df$CODE

-   Now print out the first few lines of the data frame using `head`

In [ ]:
CODE

-   Use `summary(df)` to print out a summary of the data frame data:

In [ ]:
CODE

-   Delete the column “gpa” from the data frame:

In [ ]:
CODE

-   Print out the structure of your data frame showing the column above
    removed:

In [ ]:
CODE

Finally add a column called “id” Your data frame will look like this
after doing this:

|  name   | major |  phone   |  id  |
|:-------:|:-----:|:--------:|:----:|
| William |  ITM  | 326 2375 | 1001 |
|  Sandy  |  TDM  | 231 3040 | 1002 |
|  Joan   |  FBM  | 342 3023 | 1003 |

-   add a column called “id”

In [ ]:
df$id <- CODE

-   Print out the structure of the new data frame using `str`:

In [ ]:
CODE

-   Change Sandy’s id in the dataframe to be `1004`

In [ ]:
CODE

-   Print out the data frame using `head` to make sure her GPA is
    changed:

In [ ]:
CODE