Create a dataframe for this data:

|  Name  | GPA | Major |    Phone     |
|:------:|:---:|:-----:|:------------:|
| Alexa  | 3.7 |  FBM  | 212 398 2375 |
| Tanya  | 3.6 |  AMC  | 212 323 3040 |
| Hubert | 3.4 |  FBM  | 718 232 9392 |

-   Create a data frame `df` by using the `data.frame` function.
-   You will need to make some appropriate vectors to be the columns of
    your dataframe. Replace the word `CODE` below with the appropriate
    vector using the function `c`
-   Use the argument `stringsAsFactors=FALSE` in your data.frame
    function:

In [ ]:
df <- data.frame(Name = CODE,
              GPA = CODE,
              Major = CODE,
              Phone = CODE,
              stringsAsFactors=FALSE)

-   Print out the structure of your data frame using `str`

In [ ]:
PUT CODE HERE

-   Print out just the GPA column using \$ sign `df$GPA`

In [ ]:
PUT CODE HERE

-   Print out just the Phone column using \$ sign `df$Phone`:

In [ ]:
PUT CODE HERE

Now print out the first few lines of the data frame using `head(df)`. In
this case it will be all the data, since `head` prints the first 6
lines, and this data has less than 6 lines.

-   Print out your dataframe using `head(df)`

In [ ]:
PUT CODE HERE

-   Use `summary(df)` to print out a summary of the data frame data:

In [ ]:
PUT CODE HERE

-   Delete the column “Major” from the data frame (use `df$Major<-NULL`)

In [ ]:
PUT CODE HERE

-   Print out the structure of your data frame showing the column above
    removed:

In [ ]:
PUT CODE HERE

Finally add a column called “ID” Your data frame should now look like
this:

|  Name  | GPA |    Phone     |  ID  |
|:------:|:---:|:------------:|:----:|
| Alexa  | 3.7 | 212 398 2375 | 1001 |
| Tanya  | 3.6 | 212 323 3040 | 1002 |
| Hubert | 3.4 | 718 232 9392 | 1003 |

-   Add a column using `df$ID<-c(1001,1002,1003)`

In [ ]:
PUT CODE HERE

-   Print out the structure of the new data frame using `str`:

In [ ]:
PUT CODE HERE

-   Change Tanyas GPA in the dataframe to be `3.98`

In [ ]:
PUT CODE HERE

-   Print out the data frame using `head` to make sure her GPA is
    changed:

In [ ]:
PUT CODE HERE

-   Extract (print out) the element in the 2nd row and 3rd column by
    using `df[,]`, and using the right index or indices inside the
    square brackets:

In [ ]:
PUT CODE HERE