Create a dataframe for this data:

|  Name  | GPA | Major |    Phone     |
|:------:|:---:|:-----:|:------------:|
| Alexa  | 3.7 |  FBM  | 212 398 2375 |
| Tanya  | 3.6 |  AMC  | 212 323 3040 |
| Hubert | 3.4 |  FBM  | 718 232 9392 |

-   Create a data frame `df` by using the `data.frame` function.
-   You will need to make some appropriate vectors to be the columns of
    your dataframe. Replace the word `CODE` below with the appropriate
    vector using the function `c`
-   Use the argument `stringsAsFactors=FALSE` in your data.frame
    function:

In [ ]:
# Original
# df <- data.frame(Name = CODE,
#             GPA = CODE,
#             Major = CODE,
#             Phone = CODE,
#             stringsAsFactors=FALSE)
df <- data.frame(Name=c("Alexa", "Tanya", "Hubert"),
              GPA=c(3.7, 3.6, 3.4),
              Major=c("FBM", "AMC", "FBM"),
              Phone=c("212 398 2375", "212 323 3040", "718 232 9392"),
              stringsAsFactors=FALSE)

-   Print out the structure of your data frame using `str`

In [ ]:
str(df)

-   Print out just the GPA column using \$ sign `df$GPA`

In [ ]:
df$GPA

-   Print out just the Phone column using \$ sign `df$Phone`:

In [ ]:
df$Phone

Now print out the first few lines of the data frame using `head(df)`. In
this case it will be all the data, since `head` prints the first 6
lines, and this data has less than 6 lines.

-   Print out your dataframe using `head(df)`

In [ ]:
head(df)

-   Use `summary(df)` to print out a summary of the data frame data:

In [ ]:
summary(df)

-   Delete the column “Major” from the data frame (use `df$Major<-NULL`)

In [ ]:
df$Major <- NULL

-   Print out the structure of your data frame showing the column above
    removed:

In [ ]:
str(df)

Finally add a column called “ID” Your data frame should now look like
this:

|  Name  | GPA |    Phone     |  ID  |
|:------:|:---:|:------------:|:----:|
| Alexa  | 3.7 | 212 398 2375 | 1001 |
| Tanya  | 3.6 | 212 323 3040 | 1002 |
| Hubert | 3.4 | 718 232 9392 | 1003 |

-   Add a column using `df$ID<-c(1001,1002,1003)`

In [ ]:
df$ID <- c(1001,1002,1003)

-   Print out the structure of the new data frame using `str`:

In [ ]:
str(df)

##### EXTRA

Use subsetting to select only those rows with `GPA > 3.5`

In [ ]:
df[df$GPA  > 3.5,]

Exchange the last column (ID) so that it is the first column now (anyway
you want to do this is fine):

In [ ]:
df <- df[c("ID", "Name", "Phone", "GPA")]

Print out the data frame using `str` to make sure ID is first:

In [ ]:
str(df)

Change Tanyas GPA in the dataframe to be `3.98`

In [ ]:
df[2,4] <- 3.98

Print out the data frame using `head` to make sure her GPA is changed:

In [ ]:
head(df)

Extract (print out) the element in the 2nd row and 3rd column by using
`df[,]`, and using the right index or indices inside the square
brackets:

In [ ]:
df[2,3]

Extract (print out) the entire second row of data by using `df[,]`, and
again using the right index or indices inside the square brackets:

In [ ]:
df[2,]

Extract (print out) the entire second column of data by using `df[,]`,
and again using the right index or indices inside the square brackets:

In [ ]:
df[,2]