# Data Types

Variables and expressions in R have data types. The following charts
shows the main data types:

| Data Type           | R version | Examples     |
|---------------------|-----------|--------------|
| decimal (number)    | numeric   | 2.32,-0.45   |
| string (text)       | character | “hello”, “k” |
| integer             | integer   | 12L          |
| boolean(true/false) | logical   | TRUE,FALSE   |

You can find out what data type a variable holds by using the `class`
function.

`class` is a function that gives info on the data type of an object.

### Numeric

The data type of numbers like 3.2, -2.34, 0.0 is numeric

The following variable has data type numeric:

In [ ]:
x<-3.2
class(x)

[1] "numeric"

### Character

The data type of a text or string is character.

Examples are “Bob”, “We are the champions”, “Fee Fi Fo”

In [ ]:
y<-"hi there"
class(y)

[1] "character"

[1] "character"

### Logical

The data type of something that holds ‘TRUE’ or ‘FALSE’ is ‘logical’.

This is Rs name for booleans, things that can just be TRUE or FALSE.

In [ ]:
u<-TRUE
class(u)

[1] "logical"

[1] "logical"

### Integer

There is also a type for integers (…, -3,-2,-1,0,1,2,3,…), it is not
used as frequently as “numeric”.

To create an integer type, you have to use an L after the integer:

In [ ]:
a<-3L
class(a)

[1] "integer"

If you do not use an L, then R will make it a ‘numeric’ type:

In [ ]:
b<-3
class(b)

[1] "numeric"

## Using `str` Function For Info

There is an even better function to give you info on an object or
variable in R. It is called the `str` function (which stands for
structure) and it gives the info a little more succintly than `class`.

In [ ]:
x<-3.2
str(x)

 num 3.2

In [ ]:
y<-"hi there"
str(y)

 chr "hi there"

In [ ]:
z<-"XXXYYYZZZ"
str(z)

 chr "XXXYYYZZZ"

In [ ]:
a<-3L
str(a)

 int 3

In [ ]:
u<-TRUE
str(u)

 logi TRUE

In [ ]:
v<-FALSE
str(v)

 logi FALSE

One thing that is nice about `str` is that it outputs the value of the
variable as well. We will see some other nice things about `str` for
more complicated data types like vectors and lists later.

## Checking Types

There are functions for checking the type of a variable or expression,
which are sometimes more convenient than using the `class` for `str`
function. Each of these answers `TRUE` or `FALSE` depending on whether
the value is that type or not:

| Checking types      | function     | Example               |
|---------------------|--------------|-----------------------|
| decimal number      | is.numeric   | is.numeric(2.32)      |
| string              | is.character | is.character(“hello”) |
| integer             | is.integer   | is.integer(2L)        |
| boolean(true/false) | is.logical   | is.logical(TRUE)      |

It turns out that an integer is also a numeric type

In [ ]:
b<-3L
is.integer(b)

[1] TRUE

[1] TRUE

But ‘numeric’ variables are not necessarily ‘integer’ types. 3.4 is not
an integer, and `is.integer` returns `FALSE`

In [ ]:
c<-3.4
is.numeric(c)

[1] TRUE

[1] FALSE

## Converting Types

You can change a variables type if you need to using these functions:

| Changing types      | function     | Example           |
|---------------------|--------------|-------------------|
| decimal number      | as.numeric   | as.numeric(2L)    |
| string              | as.character | as.character(123) |
| integer             | as.integer   | as.integer(2.0)   |
| boolean(true/false) | as.logical   | as.logical(1)     |

### Character to Numeric

One use for this is to convert a string like “1.23” to a number 1.23.
This happens frequently since when we read in data from files, even
though the file may contain numbers, they will often be strings to begin
with.

With quotes around it, a number will be seen as a string. Here is an
example:

In [ ]:
myData<-"1.23"
is.character(myData)

[1] TRUE

[1] FALSE

So if we want to change the string “1.23” to a number, we must use
`as.numeric` to convert the string to a number:

In [ ]:
myOtherData<-as.numeric(myData)
is.numeric(myOtherData)

[1] TRUE

[1] 1.23

### Numeric to Character

The other direction from number to a string happens sometimes as well.

Below we create a number, then convert it to a string.

In [ ]:
aNumber<-4.56
aString<-as.character(aNumber)
is.character(aString)

[1] TRUE