# Data Types In Class

-   Assign a variable using `myNumeric<-1.2`
-   Print out info on `myNumeric` using the `str` function

In [ ]:
CODE

This should output the shorthand `num` which means `numeric`

-   Use the `is.numeric` function to check if `myNumeric` is a numeric
    data type.

In [ ]:
CODE

The output should be `TRUE` since `myNumeric` is a numeric data type.

Lets look at string types

-   Assign a variable using `myString<-"hello"`
-   Print out info on `myString` using the `str` function

In [ ]:
CODE

This should output the shorthand `chr` which means `character`

-   Use the `is.character` function to check if `myString` is a
    character data type

In [ ]:
CODE

The output should be `TRUE` since `myString` is a character data type.

Lets look at boolean type:

-   Assign a variable using `myBoolean<-TRUE`
-   Print out info on `myBoolean` using the `str` function

In [ ]:
CODE

This should output the shorthand `logi` which means `logical`, which is
the boolean type for R.

-   Use the `is.logical` function to check the data type of `myBoolean`
    from above

In [ ]:
CODE

The output should be `TRUE` since `myBoolean` is a boolean data type.

One conversion that is freqently used is from at string like “1.23” to a
number 1.23.

With quotes around it, a number will be seen as a string:

-   Define a variable `aString<-"1.23"`
-   print out whether it is a string using `is.character`
-   print out whether it is a numeric using `is.numeric`

In [ ]:
CODE

The output of `is.character(aString)` should be `TRUE` since `aString`
was a string.

The output of `is.numeric(aString)` should be `FALSE` since `aString`
was not a numeric.

So if we want to change the string “1.23” to a number, we must use
`as.numeric` to convert the string to a number:

-   Define a variable `aNumber` by using the function `as.numeric` on
    `aString`
-   print out whether `aNumber` is a numeric using `is.numeric`

In [ ]:
CODE

The output of `is.numeric(aNumber)` should be `TRUE` since `aNumber` was
a numeric.

Finally for the code below add a couple of `str` functions to display
information about the variables.

-   Print out info on `x` using the `str` function
-   Print out info on `y` using the `str` function

In [ ]:
x<-"1.23"
y<-as.numeric("1.23")
CODE

`x` is a character since there are quotations marks so that makes it a
string.

`y` is numeric since it was converted to a numeric with `as.numeric`.

Once again, for the code below add a couple of `str` functions to
display information about the variables.

-   Print out info on `z` using the `str` function
-   Print out info on `w` using the `str` function

In [ ]:
z<-"TRUE"
w<-as.logical("TRUE")
CODE

`z` is a character since there are quotations marks so that makes it a
string.

`w` is numeric since there are quotations marks so that makes it a
string.