# Data Frames Manipulations

Lets look at a simple example that has data from the Poshmark website.
We scraped the names of some items, the original retail, and their
current offering prices for some items being offered:

Lets make the data into some vectors:

In [ ]:
name <- c("Jcrew blazer",           
      "Forever 21 lace zip up blazer",                     
      "Banana Republic Navy  Blazer",                     
      "Julian Taylor Pant And Blazer Size 12",             
      "Bernard Zins Paris Multi Colored Jacket",
      "Evan Picone Suit Blazer - 6",
      "Black blazer",
      "Jones Studio Blazer")  
original <- c(198,49,129,999,129,74,80,59)
offered<- c(60,29,45,30,22,13,15,25)

Next we will create a dataframe with the items above in it.

-   create a data frame called `items` using the 3 vectors above.
    Replace CODE with the 3 vectors names, and use commas between them

In [ ]:
items <- data.frame(CODE)

-   print out info on the `items` using `str`

In [ ]:
CODE

-   print out all the records on `items` using `print(items)`

In [ ]:
CODE

Looks like one of the values is wrong or made up: 999 is just wrong.
Lets fix that to be \$54.

-   change “Julian Taylor” item’s price to be 54 (replace CODE with
    correct value)

In [ ]:
items[4,2]<-CODE

Lets check to make sure this looks okay.

-   print out all the records again using `print(items)`

In [ ]:
CODE

Let’s calculate markdown percents. We will just calculate the
`original - offered` and divide by `original`.

-   assign `markdown <- (items$original-items$offered)/items$original`
-   print out `markdown`

In [ ]:
CODE

Almost, lets round it to the nearest percent instead

-   assign `markdown <- 100*round(markdown,2)`
-   print out `markdown`

In [ ]:
CODE

Finally lets add it as a new column to the original data frame:

-   add the column to the data frame with `items$markdown<-markdown`
-   print out info on the new dataframe with `str`

In [ ]:
CODE

Now lets print it out:

-   print out the first few records of `items` using `head`

In [ ]:
CODE

We dont have that much data but you could find the average markdown:

-   use `mean` to find the average, pass it `items$markdown` as
    argument(change CODE below)

In [ ]:
mean(CODE)

For this set of data the average offered price was 66% off the original.
Lets see the range of markdowns:

-   use `range` to find the range, pass it `items$markdown` as argument
    (change CODE below)

In [ ]:
range(CODE)

This gives the ranges of the markdowns from this set of data from 41% to
83%

Lets create a model that predicts the offered price from the original:

-   create a model using `lm` that predicts `offered` from the
    `original` (fill in CODE with the appropriate thing below)

In [ ]:
model<-lm(CODE, data=items)
summary(model)

Find the correlation between **offered** and **original**

-   find the correlation between `items$offered` and `items$original`
    using the function `cor` (pass `items$original` as first argument
    and `items$offered` as the second argument)

In [ ]:
cor(CODE)

Now find the scatterplot of **offered** and **original**

-   plot the scatterplot of `offered` vs `original` using `plot`. Pass
    `items$original` and `items$offered` as the first and second
    argument to `plot`
-   add the regression line using `abline`. Pass the `model` to that
    function.

In [ ]:
plot(CODE)
abline(CODE)