# R Basics and DataFrames

-   Create a variable `z` that has value 32

In [ ]:
z <- CODE

-   Create a variable `w` that is equal to `z/3`

In [ ]:
w <- CODE

-   Define a character vector `a` that has these strings on it “Hello”,
    “Goodbye”, “Goodnight”, “Bye”:

In [ ]:
a<-CODE

Define a vector variable `q` that has
3,-3,2,-1,0,-4,-6,3,-7,4,2,3,-2,-4,4 on it.

In [ ]:
q<-CODE

Next create a dataframe for this data:

|  Name  | GPA | Major |    Phone     |
|:------:|:---:|:-----:|:------------:|
| Alexa  | 3.7 |  FBM  | 212 398 2375 |
| Tanya  | 3.6 |  AMC  | 212 323 3040 |
| Hubert | 3.4 |  FBM  | 718 232 9392 |

-   create a dataframe for this data

In [ ]:
Name<-CODE
GPA<-CODE
Major<-CODE
Phone<-CODE
df <- data.frame(CODE,CODE,CODE,CODE)

-   Print out the structure of your data frame using `str`

In [ ]:
CODE

-   Print out just the GPA column using \$ sign: (Replace CODE below
    with the right column name for this.

In [ ]:
df$CODE

-   Now print out the first few lines of the data frame using `head`

In [ ]:
CODE

-   Use `summary(df)` to print out a summary of the data frame data:

In [ ]:
CODE

-   Delete the column “Major” from the data frame:

In [ ]:
CODE

-   Print out the structure of your data frame showing the column above
    removed:

In [ ]:
CODE

Finally add a column called “ID” Your data frame will look like this
after doing this:

|  Name  | GPA |    Phone     |  ID  |
|:------:|:---:|:------------:|:----:|
| Alexa  | 3.7 | 212 398 2375 | 1001 |
| Tanya  | 3.6 | 212 323 3040 | 1002 |
| Hubert | 3.4 | 718 232 9392 | 1003 |

-   add a column called “ID”

In [ ]:
df$ID <- CODE

-   Print out the structure of the new data frame using `str`:

In [ ]:
CODE

-   Change Tanyas GPA in the dataframe to be `3.98`

In [ ]:
df[2,2] <- CODE

-   Print out the data frame using `head` to make sure her GPA is
    changed:

In [ ]:
CODE