Define a variable `z` that has value 32:

In [ ]:
PUT CODE HERE

Define a variable `w` that is equal to `z/3`:

In [ ]:
PUT CODE HERE

Define a character vector `a` that has these strings on it “Hello”,
“Goodbye”, “Goodnight”, “Bye”:

In [ ]:
PUT CODE HERE

Define a new vector variable `b` by subsetting that has just the 2nd and
4th strings from your `a` vector: (Make sure you use “subsetting” here
to do this)

In [ ]:
PUT CODE HERE

Define a new vector variable `q` that has
3,-3,2,-1,0,-4,-6,3,-7,4,2,3,-2,-4,4 on it.

In [ ]:
PUT CODE HERE

Define a new vector `r` by subsetting (you must use subsetting!) that
has only negative values (less than 0) on it:

In [ ]:
PUT CODE HERE

Next create a dataframe for this data:

|  Name  | GPA | Major |     Phone    |
|:------:|:---:|:-----:|:------------:|
|  Alexa | 3.7 |  FBM  | 212 398 2375 |
|  Tanya | 3.6 |  AMC  | 212 323 3040 |
| Hubert | 3.4 |  FBM  | 718 232 9392 |

Create a data frame `df` by using the `data.frame` function. You will
probably need to make some appropriate vectors to be the columns of your
dataframe. Use the argument `stringsAsFactors=FALSE` in your data.frame
function:

In [ ]:
PUT CODE HERE

Print out the structure of your data frame using `str`

In [ ]:
PUT CODE HERE

Print out just the GPA column using \$ sign:

In [ ]:
PUT CODE HERE

Print out just the Phone column using \$ sign:

In [ ]:
PUT CODE HERE

Now print out the first few lines of the data frame using `head`. In
this case it will be all the data, since `head` prints the first 6
lines, and this data has less than 6 lines.

In [ ]:
PUT CODE HERE

Use the `summary` function to print out a summary of the data frame
data:

In [ ]:
PUT CODE HERE

Extract (print out) the element in the 2nd row and 3rd column by using
`df[,]`, and using the right index or indices inside the square
brackets:

In [ ]:
PUT CODE HERE

Extract (print out) the entire second row of data by using `df[,]`, and
again using the right index or indices inside the square brackets:

In [ ]:
PUT CODE HERE

Extract (print out) the entire second column of data by using `df[,]`,
and again using the right index or indices inside the square brackets:

In [ ]:
PUT CODE HERE

Delete the column “Major” from the data frame:

In [ ]:
PUT CODE HERE

Print out the structure of your data frame showing the column above
removed:

In [ ]:
PUT CODE HERE

Finally add a column called “ID” Your data frame should now look like
this:

|  Name  | GPA |     Phone    |  ID  |
|:------:|:---:|:------------:|:----:|
|  Alexa | 3.7 | 212 398 2375 | 1001 |
|  Tanya | 3.6 | 212 323 3040 | 1002 |
| Hubert | 3.4 | 718 232 9392 | 1003 |

In [ ]:
PUT CODE HERE

Print out the structure of the new data frame using `str`:

In [ ]:
PUT CODE HERE

Use subsetting to select only those rows with `GPA > 3.5`

In [ ]:
PUT CODE HERE

Exchange the last column (ID) so that it is the first column now (anyway
you want to do this is fine):

In [ ]:
PUT CODE HERE

Print out the data frame using `str` to make sure ID is first:

In [ ]:
PUT CODE HERE

Change Tanyas GPA in the dataframe to be `3.98`

In [ ]:
PUT CODE HERE

Print out the data frame using `head` to make sure her GPA is changed:

In [ ]:
PUT CODE HERE