# R Exercises

Define a variable `x` and give it the value 24:

In [ ]:
PUT CODE HERE

In [ ]:
x<-24
x

[1] 24

Define a variable `y` that is equal to `x + 5`

In [ ]:
PUT CODE HERE

In [ ]:
y<-x+5
y

[1] 29

Define a vector `w` that has three strings in it: “fee”, “fi”, “fum”

In [ ]:
PUT CODE HERE

In [ ]:
w<-c("fee","fi","fum")
w

[1] "fee" "fi"  "fum"

Change the 2nd entry of `w` to “foo” instead of “fi”.

In [ ]:
PUT CODE HERE

In [ ]:
w[2] = "foo"
w

[1] "fee" "foo" "fum"

Define a new vector `k` by subsetting `w` with the selection vector
`c(1,3)`.

In [ ]:
PUT CODE HERE

In [ ]:
k<-w[c(1,3)]
k

[1] "fee" "fum"

Print out the length of `k` now after the subsetting

In [ ]:
PUT CODE HERE

In [ ]:
length(k)

[1] 2

Define a vector `v` that has elements: 10, 8, 3, 13, 24, 9, 3, 6, 7, 3

In [ ]:
PUT CODE HERE

In [ ]:
v<-c(10, 8, 3, 13, 24, 9, 3, 6, 7, 3)
v

 [1] 10  8  3 13 24  9  3  6  7  3

Use subsetting to define a new vector `z` that only has entries that are
bigger than 9:

In [ ]:
PUT CODE HERE

In [ ]:
z<-v[v>9]
z

[1] 10 13 24

Define two vectors called `id` and `age`.

In the `id` vector put 1001,1002,1003,1004,1005

In the `age` vector put 18,16,26,15,22

In [ ]:
PUT CODE HERE

In [ ]:
id<-c(1001,1002,1003,1004,1005)
age<-c(18,16,26,15,22)
id

[1] 1001 1002 1003 1004 1005

[1] 18 16 26 15 22

Use subsetting to find the ids that have ages that are bigger than 17

In [ ]:
PUT CODE HERE

In [ ]:
newIds<-id[age>17]
newIds

[1] 1001 1003 1005

For the following data:

| custId | gender | spend |
|--------|--------|-------|
| 3203   | M      | 1200  |
| 3209   | F      | 963   |
| 3289   | M      | 356   |
| 3256   | F      | 567   |

Define a data frame with these columns:

In [ ]:
PUT CODE HERE

In [ ]:
custId = c(3203, 3209, 3289, 3256)
gender = c("M", "F", "M", "F")
spend<-c(1200, 963, 356, 567)
df<-data.frame(custId, gender, spend)
df

  custId gender spend
1   3203      M  1200
2   3209      F   963
3   3289      M   356
4   3256      F   567

For Customer 3289, use index(es) to change the spend amount to 415.

In [ ]:
PUT CODE HERE

In [ ]:
df[3,3] = 415
df

  custId gender spend
1   3203      M  1200
2   3209      F   963
3   3289      M   415
4   3256      F   567

Print out just the `spend` column using the \$ sign:

In [ ]:
PUT CODE HERE

In [ ]:
df$spend

[1] 1200  963  415  567

Remove the Spend column and replace it with a new column called
`discount`:

| discount |
|----------|
| 200      |
| 100      |
| 145      |
| 200      |

In [ ]:
PUT CODE HERE

In [ ]:
df$spend <- NULL
df$discount <- c(200,100,145,200)
df

  custId gender discount
1   3203      M      200
2   3209      F      100
3   3289      M      145
4   3256      F      200