Define a variable `x` and give it the value 24:

In [ ]:
PUT CODE HERE

Define a variable `y` that is equal to `x + 5`

In [ ]:
PUT CODE HERE

Define a vector `w` that has three strings in it: “fee”, “fi”, “fum”

In [ ]:
PUT CODE HERE

Change the 2nd entry of `w` to “foo” instead of “fi”.

In [ ]:
PUT CODE HERE

Define a new vector `k` by subsetting `w` with the selection vector
`c(1,3)`.

In [ ]:
PUT CODE HERE

Print out the length of `k` now after the subsetting

In [ ]:
PUT CODE HERE

Define a vector `v` that has elements: 10, 8, 3, 13, 24, 9, 3, 6, 7, 3

In [ ]:
PUT CODE HERE

Use subsetting to define a new vector `z` that only has entries that are
bigger than 9:

In [ ]:
PUT CODE HERE

Define two vectors called `id` and `age`.

In the `id` vector put 1001,1002,1003,1004,1005

In the `age` vector put 18,16,26,15,22

In [ ]:
PUT CODE HERE

Use subsetting to find the ids that have ages that are bigger than 17

In [ ]:
PUT CODE HERE

For the following data:

| custId | gender | spend |
|:-------|:-------|:------|
| 3203   | M      | 1200  |
| 3209   | F      | 963   |
| 3289   | M      | 356   |
| 3256   | F      | 567   |

Define a data frame with these columns:

In [ ]:
PUT CODE HERE

For Customer 3289, use index(es) to change the spend amount to 415.

In [ ]:
PUT CODE HERE

Print out just the `spend` column using the \$ sign:

In [ ]:
PUT CODE HERE

Remove the Spend column and replace it with a new column called
`discount`:

| discount |
|:---------|
| 200      |
| 100      |
| 145      |
| 200      |

In [ ]:
PUT CODE HERE