We are going to take a look at a simple way to create vectors of
numbers.

For example suppose we want a vector with just “1,2,3,4,5,6” on it.

In [ ]:
a <- 1:6
print(a)

The notation `1:6` means the same here as `c(1,2,3,4,5,6)`. That is we
create a vector using the combine function `c` with the 6 numbers we
want. This is called a “sequence” in R, since the numbers are listed in
order.

Sequences are a great way to get certain vectors where the numbers have
some pattern to them.

What happens if we want to make the numbers “count down” from something:

In [ ]:
b <- 6:1
print(b)

Can we start at something other than 1:

In [ ]:
c <- 4:9
print(c)

Can we start at a negative number

In [ ]:
d <- -3:4
print(d)

If we use the `seq` function we an create sequences and “count by”
whatever value we want. Below we start at 3 and count by 2s up to 21.

In [ ]:
e <- seq(from=3, to=21, by=2) 
print(e)

Now lets count by 5, starting at 0 and go up to 50:

In [ ]:
f <- seq(from=0, to=50, by=5) 
print(f)