# Subsetting

Suppose we want to just pick some of our data from a vector or other
data type? How can we do this?

In R this is called “subsetting”. Lets see an example. Lets get the 1st,
3rd and 5th elements from the vector and make a new vector out of this:

In [ ]:
x <- c(3,5,9,6,7,8,4,5)
y <- x[c(1,3,5)]
length(x)

[1] 8

[1] 3

[1] 3 9 7

Now lets see about getting the 2nd through the 4th elements by using the
sequence notation 2:4

In [ ]:
z <- c(12,11,8,4,3)
w <- z[2:4]
length(w)

[1] 3

[1] 11  8  4

We can use negative numbers to exclude things from vectors. This one
excludes the 2nd element from the vector.

In [ ]:
t <- c(3,4,2,9)
w <- t[-2]
length(w)

[1] 3

[1] 3 2 9

Here we exclude the 1st and the 3rd elements from the vector.

In [ ]:
s <- c(3,4,2,9)
z <- s[c(-1,-3)]
length(z)

[1] 2

[1] 4 9

Lets also look at a very important application of booleans (called
“logicals” in R) of how to subset for certain conditions.  
Suppose we have a vector and we would like to just take all the values
on the list that were greater than something. Like suppose we want to
take all values that are greater than 5:

In [ ]:
u <- c(8,4,6,12,3)
v <- u[u > 5]
length(v)

[1] 3

[1]  8  6 12

This leaves us with just a new vector with that is `8 6 12`.

In [ ]:
m <- c(-1,4,-2,0,12,3)
n <- m[m < 0]
length(n)

[1] 2

[1] -1 -2

This leaves us with just a new vector that has all the negative numbers
on the list.

Finally lets try an example where we have related data on several
vectors. Below we have data from 5 people with their age and gender
recorded. Here is what the data looks like:

In [ ]:
id <- c(1001,1002,1003,1004,1005)
age <- c(18,35,26,42,22)
gender <- c("M","F","M","F","F")

We have IDs for each person as well.

Find a vector of ages that are greater than 25:

In [ ]:
age[age > 25]

[1] 35 26 42

Find a vector of ids where age is greater than 25:

In [ ]:
id[age > 25]

[1] 1002 1003 1004

Find a vector of ids where age is greater than 25 and gender is “F”:

In [ ]:
id [age > 25 & gender == "F"]

[1] 1002 1004